body {
  font-family: Manrope, sans-serif;
  background-color: #ffffff;
  background: url('https://outdoorgardendecorationblog.weebly.com/uploads/1/3/4/3/134339470/4_orig.jpg') center/cover no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  background-color: #12a04d;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

nav .logo img {
  width: 100px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding: 10px;
  width: 400px;
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.search-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.search-button img {
  width: 40px;
  height: auto;
}

.search-button:hover {
  background-color: #45a049;
}

.user-icon {
  top: 15px;
  right: 15px;
  cursor: pointer;
  margin-right: 15px;
  width: 40px;
  height: auto;
}

.user-icon img {
  width: 55px;
  height: auto;
}

.user-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 15px;
  background-color: #0b6430;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu li {
  margin-bottom: 5px;
}

.user-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.user-menu.show {
  display: block;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.product {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: calc(25% - 40px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#productInfo{
  display: flex;
  flex-direction: column;
}
#productInfo img{
  max-width: 50%;
  max-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}
#productInfo  p{
  margin: 20px;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .product-card {
    width: calc(50% - 40px);
  }
}

@media only screen and (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-details {
  text-align: left;
}

.filters {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.filter-section {
  margin-right: 20px;
}

.filter-label {
  font-weight: bold;
}

.filter-options {
  display: flex;
  gap: 10px;
}

.filter-options select {
  padding: 5px;
  border-radius: 5px;
}

.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  /* Add this line to center the contents horizontally */
  align-items: center;
  /* Add this line to center the contents vertically */
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
}

.product-title {
  font-weight: bold;
}

.product-price {
  color: green;
}

.product-image {
  width: 100%;
}

.pagination button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}

.register {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.regtitle {
  font-family: Manrope, sans-serif;
  color: #12a04d;
  text-decoration: underline;
}

.btn {
  color: #fff;
  background-color: #45a049;
  display: inline;
  margin: auto;
  text-align: center;
}

.btn:hover {
  color: #fff;
  background-color: #45a049;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 90%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.main-title {
  margin-bottom: -10px;
}

.title {
  background-color: #12a04d;
  font-size: 36px;
  padding: 5px;
  border-radius: 8px;
  color: #fff;
  /* White text color */
  margin-bottom: 50px;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  /* Increased padding for a larger container */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  /* Adjusted width for better readability */
}

.login-container h2{
  color: #12a04d;
  text-decoration: underline;
}

h2 {
  color: #12a04d;
  /* Green text color */
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #12a04d;
  /* Green text color */
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #27ae60;
  /* Darker green button color */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
  /* Lighter green on hover */
}

.about {
  height: 100vh;
  align-self: center;
  max-width: 800px;
  margin: 20px auto;
}
.about p{
  padding: 20px;
}

h2 {
  color: #fff;
  font-size: 32px;
  margin-top: 0px;
  border-radius: 8px;
  text-align: center;
}

p {
  line-height: 1.8;
  background-color: #fff;
  border-radius: 8px;
  font-size: 20px;
  color: #000000;
  margin: 10px;
}

nav {
  background-color: #12a04d;
  padding: 10px;
  display: flex;
  align-items: center;
}


nav .logo img {
  width: 100px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain the aspect ratio */
  margin-right: 30px;
  /* Add some spacing between the image and text */
  margin-bottom: 0px;
  margin-top: 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  /* Align items to the left */
  align-items: center;
  /* Center items vertically */
  margin-left: 0px;
  /* Push the ul all the way to the left */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  width: 400px;
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.search-button {
  padding: 0px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.search-button img {
  width: 40px;
  /* Adjust the width of the image inside the button */
  height: auto;
  /* Maintain aspect ratio */
}

.search-button:hover {
  background-color: #45a049;
}

.user-icon {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  margin-right: 15px;
  width: 40px;
  /* Adjust the width as needed */
  height: auto;
}

.user-icon img {
  width: 55px;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
}

.user-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 15px;
  background-color: #0b6430;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu li {
  margin-bottom: 5px;
}

.user-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.user-menu.show {
  display: block;
}

.content {
  flex-grow: 1;
  padding: 20px;
  min-height: 100vh;
}

.product {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #12a04d;
    padding: 10px;
    z-index: 1;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .user-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }

  .user-icon img {
    width: 30px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
  }

}

.contact-container {
  max-width: 400px;
  margin-top: 100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #12a04d;
  text-decoration: underline;
}

.contact-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  height: 100px;
}

.contact-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 600px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #12a04d;
    padding: 10px;
    z-index: 1;
  }
}

.cartinfo {
  font-family: Manrope, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 1500px; 
  margin: 0 auto; 
  margin-top: 3%;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #fff;
}

.cartinfo h2 {
  color: #12a04d;
  text-align: center;
  text-decoration: underline;
}

.carttable {
  font-family: Manrope, sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 600px; /* Set your desired width */
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 3%;
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
  background-color: #fff;
}

.carttable h2 {
  color: #12a04d;
  text-align: center;
  text-decoration: underline;
}

.carttable table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.carttable th, .carttable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.carttable th {
  background-color: #f2f2f2;
}

.carttable tbody tr:nth-child(even) {
  background-color: #fff;
}

.regbtns {
  margin: auto;
}

.form-group .checkbox-options {
  display: flex;
  align-items: center;
}

.form-group .checkbox-options input[type="checkbox"] {
  margin-right: 5px;
}

.form-group .checkbox-options label {
  margin-right: 15px;
}

.orderHistory {
  margin-top: 20px;
}

.orderHistory h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#orderHistoryTable {
  width: 100%;
  border-collapse: collapse;
}

#orderHistoryTable th,
#orderHistoryTable td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

#orderHistoryTable th {
  background-color: #f2f2f2;
}

#orderHistoryTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#orderHistoryTable tbody tr:hover {
  background-color: #ddd;
}

.user-list {
  font-family: Manrope, sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 600px; /* Set your desired width */
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 3%;
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
  background-color: #fff;
}

.orders-box {
  border: 1px solid #ccc; /* Add a border */
  padding: 10px; /* Add padding */
  margin-bottom: 20px; /* Add margin to separate from other elements */
}

.orders-box > div {
  margin-bottom: 5px; /* Add margin between label and value */
}

.orders-box > div:last-child {
  margin-bottom: 0; /* Remove margin from the last value to avoid extra space */
}

.edit-product {
  background-color: #fff;
  display: block;
  width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.edit-product h1 {
  color: #12a04d;
}

.create-product {
  background-color: #fff;
  display: block;
  width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
}

.create-product h1 {
  color: #12a04d;
}

.orderHistory {
    margin: 20px;
}

.orderHistory h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#orderHistoryTable {
    width: 100%;
    border-collapse: collapse;
}

#orderHistoryTable th,
#orderHistoryTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#orderHistoryTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#orderHistoryTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
